:root {
  --brand-orange: hsl(31, 77%, 52%);
  --highlight-cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --semi-transparent-white: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
  --f-family-body: "Lexend Deca", sans-serif;
  --f-family-heading: "Big Shoulders Display", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--semi-transparent-white);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--f-family-body);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.container {
  padding: 0 1.5rem;
}

.card {
  max-width: 921px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-icon {
  display: inline-flex;
  margin-bottom: 35px;
}

.card-car {
  width: 100%;
  padding: 3rem;
  color: var(--semi-transparent-white);
  transition: width 0.2s ease-in-out;
}

.card-car:nth-child(1) {
  background-color: var(--brand-orange);
}

.card-car:nth-child(2) {
  background-color: var(--highlight-cyan);
}

.card-car:nth-child(3) {
  background-color: var(--dark-cyan);
}

.card-car:nth-child(1) a {
  color: var(--brand-orange);
}

.card-car:nth-child(2) a {
  color: var(--highlight-cyan);
}
.card-car:nth-child(3) a {
  color: var(--dark-cyan);
}

.card-content .card-title {
  margin-bottom: 25px;
  font-family: var(--f-family-heading);
  font-size: 2.5rem;
  line-height: normal;
  color: var(--light-gray);
  text-transform: uppercase;
}

.card-content a {
  background-color: var(--light-gray);
  margin-top: 25px;
  padding: 12px 2rem;
  align-self: flex-start;
  display: inline-flex;
  text-decoration: none;
  border: 1px solid var(--light-gray);
  border-radius: 1.5rem;
  transition: background-color 0.2s ease-out;
}

.card-content a:hover {
  background-color: transparent;
  color: var(--light-gray);
}

.attribution {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 11px;
  color: var(--highlight-cyan);
}
.attribution a {
  color: var(--c-purple);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
  color: var(--dark-cyan);
}

@media screen and (min-width: 640px) {
  .card-car {
    max-width: calc(100% / 2);
  }
}

@media screen and (min-width: 960px) {
  .card-car {
    max-width: calc(100% / 3);
  }

  .card-content a {
    margin-top: 83px;
  }
}
